#container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(var(--n,32), 1fr); /* number of column here*/
    background-color: white;
    border: solid black 10px;
    margin: auto;
    
}

.squares {
    border: 2px solid black;
    min-width: 35px;
    min-height: 35px;
}

.blackBackground {
    background-color: black;
}